@import './variables.css';

#ui {
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--color-bg-panel);
    padding: 10px 15px;
    border-radius: 8px;
    color: var(--color-text);
    font-family: Arial, sans-serif;
    font-size: 14px;
    z-index: 10;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}

#ui.hidden {
    opacity: 0;
    pointer-events: none;
}


#ui-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--color-bg-panel);
    padding: 4px;
    border-radius: 8px;
    color: white;
    font-family: Arial, sans-serif;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    gap: 4px;
    text-align: center;
}

#sync-panel {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 105px;
    /* Push it below the GOTO buttons */
    background: var(--color-bg-panel);
    padding: 4px;
    border-radius: 8px;
    z-index: 10;
}

/* Button Styling */
.ui-button {
    background: var(--color-button-bg);
    color: var(--color-text);
    border: none;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s, transform 0.1s;
    font-weight: bold;
    text-transform: uppercase;
}

/* Hover and Click Effects */
.ui-button:hover {
    background: var(--color-button-hover);
}

.ui-button:active {
    transform: scale(0.95);
}

#btn7 {
    background: #8d0101;
    color: var(--color-text);
    font-weight: bold;
    grid-column: 2 / 3;
    /* Center STOP button */
}

#btn7:hover {
    background: #9b0c0c;
}

#hud {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    padding: 8px 12px;
    border-radius: 5px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    z-index: 15;
    transition: opacity 0.3s ease-in-out;
}

#hud.hidden {
    opacity: 0;
    pointer-events: none;
}



/* New Grid Layout for Even Spacing */
.ui-controls {
    display: grid;
    grid-template-columns: auto auto;
    /* Ensures two equal columns */
    gap: 5px 15px;
    justify-content: center;
    margin-top: 5px;
}

/* Makes sure all rows are aligned */
.ui-controls div {
    white-space: nowrap;
    text-align: left;
    font-size: 12px;
    opacity: 0.9;
}

.loading {
    background: #555 !important;
    color: #ddd !important;
    cursor: not-allowed;
    opacity: 0.7;
}

#register-hypha-button {
    background: #1c5d99;
    color: white;
}

#register-hypha-button:hover {
    background: #2a72b5;
}

#hypha-panel {
    position: absolute;
    top: 190px; /* below the sync panel */
    right: 10px;
    background: var(--color-bg-panel);
    padding: 4px;
    border-radius: 8px;
    z-index: 10;
  }
  